################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/script-repo/FileContentIndex
/.vs/script-repo/v17/.wsuo
/.vs/slnx.sqlite
